.info-container {
    margin-top: 50px;
    margin-left: 50px;
}

body {
    background-color: #FAFAFA;
    color: #757575;
}

#tryit-info-col>* {
    font-family: 'Roboto', sans-serif;
}

#tryit-info-h {
    font-weight: 100;
}
.row {
    width: 100vw;
}
#console {
    padding-right: 0px;
}